/bin
/obj
/Betsson.OnlineWallets.UnitTests/bin
/Betsson.OnlineWallets.UnitTests/obj
/Betsson.OnlineWallets.Data.IntegrationTests/bin
/Betsson.OnlineWallets.Data.IntegrationTests/obj
/Betsson.OnlineWallets
/Betsson.OnlineWallets.Data
/Betsson.OnlineWallets.Web
